body {
    color: #333333;
    background-color: #EEEEEE;
}
header svg {
    display: none;
}
.navbar {
    background: #208fbc;
}
.navbar-brand {
    font-weight: 700;
}

main {
    margin-top: 20px;
}
.main-footer {
    margin-top: 50px;
    background-color: #155d7b;
}
.btn-primary {
    background-color: #bc208f;
    border: #bc208f;
}
.btn-secondary {
    background-color: #8fbc20;
    border: #8fbc20;
}

.btn-secondary:hover {
    background-color: #566D12;
}

.btn-primary:hover {
    background-color: #871869;
}

.form-group {
    margin-bottom: 10px;
}
.badge {
    color: #ff0000;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    header svg {
        display: block;
        position: absolute;
        top: -30px;
        left: 0;
        z-index: -1;
        fill: #208fbc;
        fill-opacity: 1;
    }
    .navbar {
        background: transparent;
    }
    main {
        margin-top: 50px;
    }
    .navbar-brand span {
        display: none;
    }
}